body {
  margin: auto;
}
.all {
  text-align: center;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  color: midnightblue;
}
h1 {
  padding: 10px;
}
h2 {
  padding: 40px;
}
.btn {
  background-color: white;
  color: black;
  margin-right: 50px;
  align-self: center;
}
.dropdown {
  display: inline-block;
  text-align: center;
}
#result {
  border: solid black;
  margin-top: 50px;
  margin-bottom: 50px;
}
